In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [6]:
df=pd.read_csv("green_tripdata_2019-09.csv",nrows=100)

In [7]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [8]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://zoomcamp:zoomcamp@localhost:5431/ny_taxi')

In [5]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df, name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [ ]:
df_iter=pd.read_csv('green_tripdata_2019-09.csv',iterator=True,low_memory=False, chunksize=100000)

In [ ]:
df_iter

In [ ]:
df=next(df_iter)

In [ ]:
len(df)

In [ ]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [10]:
df.head(n=0).to_sql(name='green_taxi_data',con=engine, if_exists='replace')

0

In [ ]:
%time df.to_sql(name='green_taxi_data',con=engine,if_exists='append')

In [11]:
from time import time

In [13]:
t_start=time()
df=pd.read_csv('green_tripdata_2019-09.csv',low_memory=False)
# df=next(df_iter)
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
df.to_sql(name='green_taxi_data',con=engine,if_exists='append')
t_end=time()
print('inserted , it took %.3f' %(t_end-t_start))

inserted , it took 66.528

In [ ]:
# while True:
#     t_start=time()
#     df_iter=pd.read_csv('green_tripdata_2019-09.csv',iterator=True,low_memory=False, chunksize=100000)
#     df=next(df_iter)
#     df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
#     df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
#     df.to_sql(name='green_taxi_data',con=engine,if_exists='append')
#     t_end=time()
#     print('inserted another chunk, it took %.3f' %(t_end-t_start))

In [14]:
df2=pd.read_csv("taxi+_zone_lookup.csv",nrows=10)

In [15]:
df2

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [16]:
df2.head(n=0).to_sql(name='taxi_zone_lookup',con=engine, if_exists='replace')

0

In [17]:
t_start=time()
df2=pd.read_csv('taxi+_zone_lookup.csv',low_memory=False)
df2.to_sql(name='taxi_zone_lookup',con=engine,if_exists='append')
t_end=time()
print('inserted , it took %.3f' %(t_end-t_start))

inserted , it took 0.113